<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Weather Clock</name>
        <version>1.0</version>
        <author>Custom</author>
        <id>WeatherClock-Menu</id>
    </information>

    <settings>
        <city>Shanghai</city>
        <lat>31.2304</lat>
        <lon>121.4737</lon>
        <lang>zh</lang>
        <interval>14400</interval>
        <sleepStart>22</sleepStart>
        <sleepEnd>7</sleepEnd>
    </settings>

    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
